<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  beStrictAboutTestsThatDoNotTestAnything="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnError="false"
  stopOnFailure="false"
  verbose="true"
  printerClass="Sempro\PHPUnitPrettyPrinter\PrettyPrinterForPhpUnit9"
>
  <testsuites>
    <!-- <testsuite name="Unit/Library/Attribute">
    </testsuite> -->
    <!-- <testsuite name="Unit"> -->
      <!-- <directory suffix="Test.php">./tests/Unit/Library/Attribute/</directory> -->
      <!-- <directory suffix="Test.php">./tests/Unit/Library/Database/MySQL</directory> -->
      <!-- <file>./tests/Unit/Library/Database/ElasticsearchTest.php</file> -->
      <!-- <directory suffix="Test.php">./tests/Unit/Library/Http/Router</directory> -->
    <!-- </testsuite> -->
    <!-- <testsuite name="Feature/Library/Http">
      <directory suffix="Test.php">./tests/Feature/Library/Http/</directory>
    </testsuite> -->
    <!-- <testsuite name="Feature/Routes">
      <directory suffix="Test.php">./tests/Feature/Routes/</directory>
    </testsuite> -->
    <testsuite name="Queue">
      <directory suffix="Test.php">./tests/Suites/Queue/</directory>
      <!-- <file>./tests/Queue/ParserTest.php</file>
      <file>./tests/Queue/ProducerTest.php</file>
      <file>./tests/Queue/ConsumerTest.php</file> -->
    </testsuite>
    <!-- <testsuite name="Corontine"> -->
    <!--   <directory suffix="Test.php">./tests/Suites/Coroutine/</directory> -->
    <!-- </testsuite> -->
  </testsuites>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <php>
    <!-- <ini name="date.timezone" value="PRC" /> -->
    <!-- <ini name="intl.default_locale" value="C.UTF-8" /> -->
    <ini name="memory_limit" value="2048M" />
  </php>
</phpunit>
